body{
		background-color: #0024dc;
		color: #000000;
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: contain;
}
IMG.vai{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 40%;
	height: 40%;
}
p{
	text-align: center;
}
table, th, td{
		border-collapse: separate;
		table-layout: fixed;
		margin-left: auto;
		margin-right: auto;
}
table{
		background-position: bottom center;
		height: 100%;
		background-image: url("menu2.JPG");
		background-repeat: no-repeat;
}
#tempo{
	font-family: Calculator, Arial;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
	width: 40%;
	height: 40%;
}